html, body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.dropDown {
    overflow: hidden;
    width: 100%;
}

#selector {
    width: 100%;
    height: 100%;
}

/*Data Selector*/
.selector {

}

.selector > input {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.selector table {
    position: relative;
}

.selector table tr tr{
    position: relative;
}

.selector table td input {
    vertical-align: middle;
    margin: 0 auto;
}

.selector div {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.selector  div span {
    display: table-cell;
    text-align: center;
}


/*App*/
#map {
    /*border: 1px solid blue;*/
    /*width: 100%;*/
    min-height: 812px;
    max-height: 1024px;
}

#map > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#som {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

#ease {
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
    /*background-color: rgba(211, 211, 211, 0.6);*/
    /*z-index: 2;*/
}

#sizeEasing {
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
}

#summary {
    width: 100%;
    /*display: inline-block;*/
    /*float: right;*/
}

#table {
    width: 100%;
    /*display: inline-block;*/
    /*float: left;*/
    overflow-x: scroll;
}

.selectedColumn {
    background-color: lightblue;
}